<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81142145231-gcbg8gafcamp2l0a1n9pue82nldongp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81142145231-gcbg8gafcamp2l0a1n9pue82nldongp7</string>
	<key>API_KEY</key>
	<string>AIzaSyCC248uWXLfmzCqkVjTI6fLvZmVY1nN0kM</string>
	<key>GCM_SENDER_ID</key>
	<string>81142145231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.community.donation</string>
	<key>PROJECT_ID</key>
	<string>sabki-sewa-rabki-sewa-6fa5f</string>
	<key>STORAGE_BUCKET</key>
	<string>sabki-sewa-rabki-sewa-6fa5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81142145231:ios:465c900115584af9cc17ba</string>
</dict>
</plist>